%h1 Listing pages

%table
	%tr
		%th Name
		%th Permalink
		%th Content
		%th Photo
		%th
		%th
		%th

= @pages.each do |page|
	%tr
		%td= page.name
		%td= page.permalink
		%td= RedCloth.new(page.content).to_html
		%td= image_tag page.photo.url
		%td= link_to 'Show', admin_page_path(page)
		%td= link_to 'Edit', edit_admin_page_path(page)
		%td= link_to 'Destroy', [:admin, page], :confirm => 'Are you sure?', :method => :delete

%br/

= link_to 'New page', new_admin_page_path
