<h1>Listing pages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Permalink</th>
    <th>Content</th>
    <th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.name %></td>
    <td><%= page.permalink %></td>
    <td><%= RedCloth.new(page.content).to_html %></td>
    <td><%#= image_tag page.photo.url(:small) %><%= image_tag page.photo.url %></td>
    <td><%= link_to 'Show', admin_page_path(page) %></td>
    <td><%= link_to 'Edit', edit_admin_page_path(page) %></td>
    <td><%= link_to 'Destroy', [:admin, page], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_admin_page_path %>
