<p>
  <b>Name:</b>
  <%= @page.name %>
</p>

<p>
  <b>Content:</b>
  <%= RedCloth.new(@page.content).to_html %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @page.photo.url %>
</p>

<%= link_to 'Edit', edit_admin_page_path(@page) %> |
<%= link_to 'Back', admin_pages_path %>
