%ul
	%li= link_to_with_current_class "Rapport", rapport_training_path
	%li= link_to_with_current_class "Strategies for Success", strategies_success_training_path
	%li= link_to_with_current_class "Negotiation", negotiation_training_path
	%li= link_to_with_current_class "Presentations", presentations_training_path
	%li= link_to_with_current_class "Effective Sales", effective_sales_training_path