== Name: #{@name}

== Email: #{@email}

== Telephone: #{@telephone}

== Organisation: #{@organisation}

== Role: #{@role}

== Referral: #{@referral}

== Course ID: #{@course_id}

== Course: #{@course}

== Customisation: #{@customisation}

== Location: #{@location}

== Time Frame: #{@when}

== Number of Participants: #{@participants}

== Experience: #{@experience}

== Objectives: #{@objectives}

== Date and Time: #{Time.now.utc}