== ====================
== CUSTOMER INFORMATION
== ====================
==
== Name: #{@name}

== Email: #{@email}

== Telephone: #{@telephone}

== Organisation: #{@organisation}

== Role: #{@role}
==
==
== ==================
== COURSE INFORMATION
== ==================
==
== Course: #{@course} (ID: #{@course_id})

== Customisation: #{@customisation}

== Location: #{@location}

== Time Frame: #{@when}
==
==
== =======================
== PARTICIPANT INFORMATION
== =======================
==
== Number of Participants: #{@participants}

== Experience: #{@experience}

== Objectives: #{@objectives}

== Referral: #{@referral}
==
==
== ==============
== RECEIVED WHEN?
== ==============
==
== Date and Time: #{Time.now.utc}