== ====================
== CUSTOMER INFORMATION
== ====================
==
== Name: #{@name}

== Email: #{@email}

== Telephone: #{@telephone}

== Organisation: #{@organisation}

== Role: #{@role}

== Telephone: #{@telephone}

== Mobile: #{@mobile}

== Address: #{@address1}, #{@address2}, #{@city}, #{@county}, #{@postcode}, #{@country}

== Address Type: #{@address_type}
==
==
== ==================
== COURSE INFORMATION
== ==================
==
== Course: #{@course} (ID: #{@course_id})

== Schedule: #{@schedule_start} - #{@schedule_end}

== Referral: #{@referral}
==
==
== ==============
== RECEIVED WHEN?
== ==============
==
== Date and Time: #{Time.now.utc}