== Name: #{@name}

== Email: #{@email}

== Telephone: #{@telephone}

== Organisation: #{@organisation}

== Referral: #{@referral}

== Course ID: #{@course_id}

== Course: #{@course}

== Location: #{@location}

== Time Frame: #{@when}

== Date and Time: #{Time.now.utc}