== ====================
== CUSTOMER INFORMATION
== ====================
==
== Name: #{@name}

== Email: #{@email}

== Telephone: #{@telephone}

== Organisation: #{@organisation}
==
==
== ==================
== COURSE INFORMATION
== ==================
==
== Course: #{@course} (ID: #{@course_id})

== Location: #{@location}

== Time Frame: #{@when}

== Referral: #{@referral}
==
==
== ==============
== RECEIVED WHEN?
== ==============
==
== Date and Time: #{Time.now.utc}