== Name: #{@name}

== Email: #{@email}

== Telephone: #{@telephone}

== Organisation: #{@organisation}

== Referral: #{@referral}

== Course: #{@course} (ID: #{@course_id})

== Location: #{@location}

== Time Frame: #{@when}

== Date and Time: #{Time.now.utc}