%p
	= form.label :login
	%br/
	= form.text_field :login
	%br/

%p
	= form.label :email
	%br/
	= form.text_field :email

%p
	= form.label :password
	%br/
	= form.password_field :password

%p
	= form.label :password_confirmation
	%br/
	= form.password_field :password_confirmation