= render 'shared/footer/site_links'
= render 'shared/footer/consulting'
= render 'shared/footer/consulting2'
= render 'shared/footer/training'
= render 'shared/footer/industries'

.clear

= render 'shared/footer/base'
	