#homeContentBody
	#homeContentMain
		#homeContentTitle
			%h1 Asset Performance Management Ltd

		#homeContentText
			%p
				apm is a leading specialist and supplier of Asset, Performance and Risk Management services, supporting high-profile clients on some of the largest
				= link_to "Private Finance Initiative", pfi_url
				and
				= link_to "Public Private Partnership", ppp_url
				projects in the
				== #{link_to "Rail", rail_url},
				== #{link_to "Highways", highways_url},
				== #{link_to "Government", government_url},
				= link_to "Oil & Gas", oil_gas_url
				and
				= link_to "Defence", defence_url
				industries.

			%p
				Our services include:

			.bulletListHome
				%ul
					%li
						== #{link_to "Asset Management", asset_management_url}, including
						== #{link_to "Performance Modelling", performance_modelling_url},
						= link_to "Whole Life Approach", whole_life_approach_url
						and
						= link_to "Investment Decision Analysis", investment_decision_analysis_url

					%li
						== #{link_to "Risk Services", risk_services_url}, including
						== #{link_to "Risk Management", risk_management_url},
						= link_to "RAMS Modelling", rams_modelling_url
						and
						= link_to "Systems Assurance", systems_safety_assurance_url

					%li
						== #{link_to "Value Management", value_management_url}, including
						== #{link_to "Contract & Commercial Management", commercial_management_url},
						= link_to "Quantity Surveying", quantity_surveying_url
						and
						= link_to "Value Engineering", value_engineering_url

					%li
						== #{link_to "Project Services", project_services_url}, including
						= link_to "Project & Cost Management", project_cost_management_url
						and
						= link_to "Tender Review & Evaluation", tender_review_evaluation_url

					%li
						== #{link_to "Financial Services", financial_services_url}, including
						== #{link_to "Financial Management & Control", financial_management_url},
						= link_to "Cost Modelling", cost_modelling_url
						and
						= link_to "Forensic Audit", forensic_audit_url

					%li
						== #{link_to "Information Technology", information_technology_url}, including
						== #{link_to "Strategy & Development", strategy_development_url},
						= link_to "Software & Model Engineering", software_model_engineering_url
						and
						= link_to "Systems Integration", systems_integration_url
						
- @page_title = "Asset Performance Management Ltd"
