- @page_title = "Asset Performance Management Ltd"

#panel
	#panelContainer
		#panelText
			%h1 apm is a specialist supplier of Asset Performance, Risk and Commercial Management Consulting Services and Training
			%h2 We consult. We specialise. We transfer knowledge.

#home
	#homeContainer
		.homeHeader
			%h2= link_to "Consulting Capability", services_path

		.homeColumn
			%h3= link_to "Commercial Services", commercial_services_path
			%p
				%span.apm
					apm
				is a recognized provider of robust commercial services across major infrastructure sectors.
			%p Our commercial experience ensures that commercial strategies, objectives and contracts are correctly implemented and managed.
		
		.homeColumn
			%h3= link_to "Asset Modelling", asset_modelling_path
			%p
				%span.apm
					apm
				is a leading provider of techniques, processes, and business intelligence tools for successful and sustainable Asset Performance Management.
			%p By linking the performance of assets to key business drivers and commercial targets, we are able of identify critical assets, optimise business activities, reduce a client’s spend and enhance income.

		.homeColumn
			%h3= link_to "Life Cycle Fund Validation", life_cycle_fund_validation_path
			%p
				%span.apm
					apm
				has developed and reviewed a range of complex life cycle funds.
			%p Using our benchmark data we are able to ensure that the funds are robust and designed correctly around the needs of the assets whilst reflecting the needs of investors and ensuring risks are correctly managed.

		.homeColumn
			%h3= link_to "PFI Expertise", pfi_expertise_path
			%p
				From our inception, 
				%span.apm
					apm
				has been involved in some of the largest Private Finance Initiative (PFI) and Public Private Partnership (PPP) projects.
				
			%p We have developed a core expertise in a number of key PFI areas, from Bid Strategy and Contract Review to Payment Mechanism Modelling, providing successful outcomes.
					
		.homeColumn
			%h3= link_to "Risk Services", risk_services_path
			%p The fundamental tasks of Enterprise Risk Management are to limit adverse exposure to risk and exploit risk opportunities to acceptable levels.
			%p
				== <span class="apm">apm</span>'s comprehensive risk management functionality helps clients assess strategic risks and objectives across their entire business, link strategic objectives with enterprise risks, minimise loss, and enhance the decision-making process.

		.homeColumn
			%h3= link_to "Business Decision Support", business_decision_support_path
			%p
				== <span class="apm">apm</span>'s core business provides clients the means to make better informed business investment decisions, at a long-term business strategy level, through medium- term major project planning, and short- term operational maintenance planning.
			%p This is achieved by linking system and asset performance characteristics to businesses costs drivers, such as a performance-penalty regime.
			
		.clear
		
		.homeHeader
			%h2= link_to "Training & Coaching", training_pages_path
		.homeColumn
			%h3= link_to "Executive Coaching", executive_training_pages_path
			%p Leaders, Executives and Businesses who are looking to develop and excel with their communication skills will benefit from our selection of Executive coaching courses.
			%p We teach effective communication through improved awareness, language skills, persuasion and negotiation as well as how to deliver improved pitches and presentations to clients and colleagues.

		.homeColumn
			%h3= link_to "Risk Management & Analysis", risk_training_pages_path
			%p
				Learn from experienced, practical
				%span.apm apm
				consultants who have been delivering Risk Management to some of the largest Private Finance Initiative (PFI) and Public Private Partnership (PPP) projects over the last 10 years.
			
			%p
				We offer a number of courses aimed at Corporate, Business and Project level 
				== <strong>Risk Management Planning</strong>, integrated with the creation and management of a <strong>Risk Register</strong>, and we provide <span class="apm">bespoke</span> courses to suit specific clients' needs.

		.homeColumn
			%h3= link_to "Availability & Asset Modelling", availability_training_pages_path
			%p
				Availability and Asset modelling is an
				%span.apm apm
				speciality.  Our consultants have modelled the assets of Rail and Highways systems, linked to contractual requirements with a view to supporting business decisions.
			
			%p We offer this unique, specialist opportunity to learn how to develop failure and condition-based Asset models, to convert them into Decision Support Tools, and to help support your future business needs.

		.clear
