- @page_title = "Asset Performance Management Ltd"

#panel
	#panelContainer
		#panelText
			%h1 apm is a specialist supplier of Asset Performance, Risk and Commercial Management Consulting Services and Training
			%h2 We specialise. We consult. We transfer knowledge.

#home
	#homeContainer
		.homeHeader
			%h2= link_to "Consulting Services", services_path
			
		.homeColumn
			%h3= link_to "Commercial Services", commercial_services_path
			%p
				%span.apm
					apm
				is a recognized provider of robust commercial services across major infrastructure sectors.
			%p Our commercial experience ensures that commercial strategies, objectives and contracts are correctly implemented and managed.
		
		.homeColumn
			%h3= link_to "Asset Modelling", asset_modelling_path
			%p
				%span.apm
					apm
				is a leading provider of techniques, processes, and business intelligence tools for successful and sustainable Asset Performance Management.
			%p By linking the performance of assets to key business drivers and commercial targets, we are able of identify critical assets, optimise business activities, reduce a client’s spend and enhance income.

		.homeColumn
			%h3= link_to "Life Cycle Fund Validation", fund_validation_path
			%p
				%span.apm
					apm
				has developed and reviewed a range of complex life cycle funds.
			%p Using our benchmark data we are able to ensure that the funds are robust and designed correctly around the needs of the assets whilst reflecting the needs of investors and ensuring risks are correctly managed.

		.homeColumn
			%h3= link_to "PFI Expertise", pfi_expertise_path
			%p
				From our inception, 
				%span.apm
					apm
				has been involved in some of the largest private financed projects and public private partnerships.
			%p We have developed a core expertise in a number of key PFI areas, providing successful outcomes.
					
		.homeColumn
			%h3= link_to "Risk Management", risk_management_path
			%p The fundamental tasks of Enterprise Risk Management are to limit adverse exposure to risk and exploit risk opportunities to acceptable levels.
			%p
				== <span class="apm">apm</span>'s comprehensive risk management functionality provides its clients with the ability to assess strategic risks and objectives across the entire business, link strategic objectives with enterprise risks, minimise loss, and enhance the decision- making process.

		.homeColumn
			%h3= link_to "Business Decision Support"
			%p
				== <span class="apm">apm</span>'s core business provides clients the means to make better informed business investment decisions, at a long-term business strategy level, through medium- term major project planning, and short- term operational maintenance planning.
			%p This is achieved by linking system and asset performance characteristics to businesses costs drivers, such as revenue KPIs or a performance-penalty regime.
			
		.clear
		
		.homeHeader
			%h2= link_to "Training & Coaching"
		.homeColumn
			%h3= link_to "Executive Coaching"
			%p

		.homeColumn
			%h3= link_to "Risk Analysis & Management"
			%p

		.homeColumn
			%h3= link_to "Availability & Asset Modelling"
			%p

		.clear
