= yield :nav_main

#mainContainer
	#containerPage
		#container
			#subContentLeft
				= yield :left_nav

			#subContentMiddle
				#courseContent
					%h1#title= @course.name
					%h3#tagline= @course.tagline

					- if !@course.summary.blank?
						%h2#summary Course Summary
						= raw RedCloth.new(@course.summary).to_html
					
					-if !@course.duration.blank? or !@course.duration.blank? or !@course.audience.blank? or !@course.instructors.blank? or !@course.outline.blank? or !@course.testimonials.blank?
						#contentNavigation
							= "Jump to: "
							- if !@course.duration.blank?
								&darr;
								= link_to "Duration", "#duration"
							- if !@course.duration.blank?
								&darr;
								= link_to "Objectives", "#objectives"
							- if !@course.audience.blank?
								&darr;
								= link_to "Audience", "#audience"
							- if !@course.instructors.blank?
								&darr;
								= link_to "Instructors", "#instructors"
							- if !@course.outline.blank?
								&darr;
								= link_to "Outline", "#outline"
							- if !@course.testimonials.blank?
								&darr;
								= link_to "Testimonials", "#testimonials"

					- if !@course.duration.blank?
						%h2#duration Duration
						= raw RedCloth.new(@course.duration).to_html

					- if !@course.objectives.blank?
						%h2#objectives Objectives
						= raw RedCloth.new(@course.objectives).to_html

					- if !@course.audience.blank?
						%h2#audience Audience
						= raw RedCloth.new(@course.audience).to_html

					- if !@course.instructors.blank?
						%h2#instructors Instructors
						= raw RedCloth.new(@course.instructors).to_html

					- if !@course.outline.blank?
						%h2#outline Outline
						= raw RedCloth.new(@course.outline).to_html

					- if !@course.testimonials.blank?
						%h2#testimonials Course Testimonials
						= raw RedCloth.new(@course.testimonials).to_html

			#subContentRight
				.sidePanel
					%h2 Onsite Training
					%p== For groups of five or more, courses can be <strong>customised</strong>.
				
					.button= link_to "Request a Quote", training_onsite_index_path(@course.id)
				
				.sidePanel
					%h2 Classroom Training
					- if @schedule.empty?
						%p Future classes are in the works. Stay tuned for the new dates!
						
					- else
						%p Below follows the list of future courses:
						
						%ul
							- @schedule.each do |schedule|
								%li
									%h3= schedule.location
									%ul
										%li
											.button
												= link_to registration_training_event_path([@course.id], [schedule.id]) do
													== #{schedule.start.strftime('%b %e')} - #{schedule.end.strftime('%b %e, %Y')} 
											.courseInfo
												%span.price= number_to_currency schedule.price, :unit => '£', :precision => 0
												%span.discounted== #{number_to_currency schedule.price_discounted, :unit => '£', :precision => 0} before #{schedule.discounted_before.strftime('%b %e, %Y')}
												
				.sidePanel	
					.details
						- if @schedule.empty?
							%p If you have a specific date in mind, please feel free to:
						- else
							%p If you don't see a date that suits you:

						.button= link_to "Request a Class", training_request_class_path(@course.id)
						
.clear
