= yield :nav_main

#mainContainer
	#containerPage
		#container
			#subContentLeft
				= yield :left_nav

			#subContentMiddle
				#bodyHeader
					= image_tag @page.photo.url
					%h1= @page.name

				#bodyContent
					= raw RedCloth.new(@page.content).to_html

			#subContentRight
			
.clear
