= yield :nav_main

#mainContainer
	#containerPage
		#container
			#leftNav
				= yield :left_nav

			#subContentMiddle
				#bodyHeader
					= image_tag @page.photo.url
					%h1= @page.name

				#bodyContent
					= RedCloth.new(@page.content).to_html

.clear
