<%= yield :nav_main %>

<div id="container_bg">
	<div id="container">
		<div id="left_nav">
			<%= yield :left_nav %>
		</div>
		<div id="sub_content_middle">
			<div id="body_header">
				<%#= image_tag @page.photo.url(:page) %><%= image_tag @page.photo.url %>
				<h1><%= @page.name %></h1>
			</div>
			<div id="body_content">
				<%= RedCloth.new(@page.content).to_html %>
			</div>
		</div>
	</div>
</div>
<div class="Clear"></div>
