#footerBase
	.links
		Copyright &#64; 2010
		= link_to "Asset Performance Management Ltd.", root_path
		All rights reserved. Website by
		= link_to "rocrabbit", "http://rocrabbit.com", :target => "_blank"
	.copyright
		= link_to "Legal Disclaimer", legal_pages_path
		&nbsp;|&nbsp;
		= link_to "Privacy and Security", privacy_pages_path
		&nbsp;|&nbsp;
		= link_to "Site Map", site_map_pages_path
