%ul.industriesColumn
	%li
		%h3= link_to "INDUSTRIES", industries_path
	%li
		%h4= link_to "Transport"
	%li= link_to "Rail"
	%li= link_to "Highways"
	%li
		%h4= link_to "Projects"
	%li= link_to "Private Finance Initiative"
	%li= link_to "Public Private Partnership"
	%li
		%h4= link_to "Defense"
	%li
		%h4= link_to "Government"
	%li
		%h4= link_to "Oil & Gas"
