%ul.industriesColumn
	%li
		%h3= link_to "INDUSTRIES", industries_pages_path
	%li
		%h4= link_to "Transport", transport_pages_path
	%li= link_to "Rail", rail_pages_path
	%li= link_to "Highways", highways_pages_path
	%li
		%h4= link_to "Projects", projects_pages_path
	%li= link_to "Private Finance Initiative", pfi_pages_path
	%li= link_to "Public Private Partnership", ppp_pages_path
	%li
		%h4= link_to "Defence", defence_pages_path
	%li
		%h4= link_to "Government", government_pages_path
	%li
		%h4= link_to "Oil & Gas", oil_gas_pages_path
