%ul.industriesColumn
	%li
		%h3= link_to "INDUSTRIES", industries_path
	%li
		%h4= link_to "Transport", transport_path
	%li= link_to "Rail", rail_path
	%li= link_to "Highways", highways_path
	%li
		%h4= link_to "Projects", projects_path
	%li= link_to "Private Finance Initiative", pfi_path
	%li= link_to "Public Private Partnership", ppp_path
	%li
		%h4= link_to "Defence", defence_path
	%li
		%h4= link_to "Government", government_path
	%li
		%h4= link_to "Oil & Gas", oil_gas_path
