%ul.trainingColumn
	%li
		%h3= link_to "TRAINING"
	%li
		%h4= link_to "Executive Training"
		%li= link_to "Negotiation & Conflict Resolution"
		%li= link_to "Example 2"
		%li= link_to "Example 3"
	%li
		%h4= link_to "Risk Analysis"
	%li= link_to "Example 1"
	%li= link_to "Example 2"
	%li= link_to "Example 3"
	%li
		%h4= link_to "Availability Modelling"
	%li= link_to "Example 1"
	%li= link_to "Example 2"
	%li= link_to "Example 3"
