%ul.trainingColumn
	%li
		%h3= link_to "TRAINING", training_pages_path
	%li= link_to "Booking Conditions", booking_conditions_pages_path
	%li
		%h4= link_to "Executive Coaching", executive_training_pages_path
	%li= link_to "Rapport", rapport_training_index_path
	%li= link_to "Strategies for Success", strategies_success_training_index_path
	%li= link_to "Negotiation", negotiation_training_index_path
	%li= link_to "Presentations", presentations_training_index_path
	%li= link_to "Effective Sales", effective_sales_training_index_path
	%li
		%h4= link_to "Risk Analysis & Management", risk_training_pages_path
	%li= link_to "Risk Management Planning", risk_management_planning_training_index_path
	%li= link_to "Risk Register Modelling", risk_register_modelling_training_index_path
	%li= link_to "Risk Register Correlation Modelling", risk_register_correlation_modelling_training_index_path
	%li
		%h4= link_to "Asset & Availability Modelling", availability_training_pages_path
	%li= link_to "Reliability & Availability Modelling", reliability_availability_modelling_training_index_path
	%li= link_to "Asset Modelling", asset_modelling_training_index_path
	%li= link_to "Performance Penalty Modelling", performance_penalty_modelling_training_index_path
	
	
