%ul.trainingColumn
	%li
		%h3= link_to "TRAINING", training_path
	%li
		%h4= link_to "Executive Coaching", executive_training_path
	%li= link_to "Rapport", rapport_training_path
	%li= link_to "Strategies for Success", strategies_success_training_path
	%li= link_to "Negotiation", negotiation_training_path
	%li= link_to "Presentations", presentations_training_path
	%li= link_to "Effective Sales", effective_sales_training_path
	%li
		%h4= link_to "Risk Analysis & Management", risk_analysis_management_training_path
	%li= link_to "Risk Analysis", risk_analysis_training_path
	%li= link_to "Risk Management", risk_management_training_path
	%li= link_to "Risk Planning", risk_planning_training_path
	%li
		%h4= link_to "Asset & Availability Modelling", availability_asset_modelling_training_path
	%li= link_to "Reliability & Availability Modelling", reliability_availability_modelling_training_path
	%li= link_to "Asset Modelling", asset_modelling_training_path
	%li= link_to "Performance Penalty Modelling", performance_penalty_modelling_training_path
