<%= yield :nav_main %>

<div id="container_bg">
	<div id="container">
		<div id="left_nav">
			<%= yield :left_nav %>
		</div>
		<div id="sub_content_middle">
			<div id="body_header">
				<%= image_tag "http://apm-assets.s3.amazonaws.com/pages/photos/43/page/HdrLeadership.jpg" %>
				<h1>Leadership</h1>
			</div>
			<div id="leadership_content" style="padding-left:3px">
				<table border="0">
					
				<% @leaderships.each do |leadership| %>
					<tr>
						<td class="people_text">
							<div class="name">
								<% if leadership.email? %>
									<%= mail_to leadership.email, leadership.name %>
								<% else %>
									<%= leadership.name %>
								<% end %>
							</div>
							<div class="title">
								<%= leadership.title %>
							</div>
							<div class="bio">
								<br>
								<%= RedCloth.new(leadership.content_1).to_html %>
							</div>
							<div class="leadership_content_panel">
								<div class="bio showhide">
									<br>
									<%= RedCloth.new(leadership.content_2).to_html %>
								</div>
							</div>
								<br>
								<br>
						</td>
						<td class="people_image">
							<%#= leadership_avatar(leadership.email, leadership.avatar_file_size, leadership.avatar.url(:small)) %>
							<%= leadership_avatar(leadership.email, leadership.avatar_file_size, leadership.avatar.url) %>
						</td>
					</tr>
				<% end %>
					
				</table>
				<div class="Clear"></div>
			</div>
		</div>
	</div>
</div>
<div class="Clear"></div>
