= yield :nav_main

#mainContainer
	#containerPage
		#container
			#subContentLeft
				= yield :left_nav

			#subContentMiddle
				#bodyHeader
					= image_tag "/assets/pages/photos/43/page/HdrLeadership.jpg"
					%h1 Leadership

				#leadershipContent{ :style => "padding-left:3px" }
					%table{ :border => "0" }
						- @leaderships.each do |leadership|
							%tr
								%td.peopleText
									.name
										- if leadership.email?
											= mail_to leadership.email, leadership.name
										- else
											= leadership.name

									.title
										= leadership.title

									.bio
										%br/
										= raw RedCloth.new(leadership.content_1).to_html

									.leadershipContentPanel
										%div{ :class => "bio showhide" }
											%br/
											= raw RedCloth.new(leadership.content_2).to_html
									%br/
									%br/

								%td.peopleImage
									= leadership_avatar(leadership.email, leadership.avatar_file_size, leadership.avatar.url)

						.clear

.clear
