%ul
	%li= link_to_with_current_class "Whole Life Costing", whole_life_costing_pages_path
	%li= link_to_with_current_class "Asset Performance Modelling", asset_performance_modelling_pages_path
	%li= link_to_with_current_class "Maintenance & Capital Spend Optimisation", maintenance_capital_spend_optimisation_pages_path
	%li= link_to_with_current_class "Performance Benchmark & Target Review", performance_benchmark_target_review_pages_path
	%li= link_to_with_current_class "Software & Model Development", software_model_development_pages_path