%ul
	%li= link_to_with_current_class "Business Planning & Optimisation", business_planning_optimisation_path
	%li= link_to_with_current_class "Investment Decision Analysis", investment_decision_analysis_path
	%li= link_to_with_current_class "Business Case Validation & Support", business_case_validation_support_path
	%li= link_to_with_current_class "Asset Management Planning", asset_management_planning_path
	%li= link_to_with_current_class "Optioneering & Solutions Optimisation", optioneering_solutions_optimisation_path