%ul
	%li= link_to_with_current_class "Expert Bid & Commercial Support", expert_bid_commercial_support_pages_path
	%li= link_to_with_current_class "Project & Cost Management", project_cost_management_pages_path
	%li= link_to_with_current_class "Tender Review & Evaluation", tender_review_evaluation_pages_path
	%li= link_to_with_current_class "Interim Management", interim_management_pages_path
	%li= link_to_with_current_class "Forensic Cost Assurance", forensic_cost_assurance_pages_path
	%li= link_to_with_current_class "Quantity Surveying", quantity_surveying_pages_path
	%li= link_to_with_current_class "Value Management", value_management_pages_path
