%ul
	%li= link_to_with_current_class "Contract & Commercial Management", commercial_management_url
	%li= link_to_with_current_class "Project & Cost Management", project_cost_management_url
	%li= link_to_with_current_class "Tender Review & Evaluation", tender_review_evaluation_url
	%li= link_to_with_current_class "Value Engineering", value_engineering_url
	%li= link_to_with_current_class "Quantity Surveying", quantity_surveying_url
	%li= link_to_with_current_class "Cost Modelling", cost_modelling_url
	%li= link_to_with_current_class "Forensic Audit", forensic_audit_url
