#navContainer
	%ul
		%li
			= link_to services_url do
				%span
					%i
						core
					%strong
						CONSULTING
		%li
			= link_to training_url do
				%span
					%strong
						TRAINING
					%i
						with us
		%li
			= link_to industries_url do
				%span
					%i
						our
					%strong
						INDUSTRY SECTORS
		%li
			= link_to customers_url do
				%span
					%i
						our
					%strong
						CUSTOMERS
		%li
			= link_to company_url do
				%span
					%i
						the
					%strong
						COMPANY
