#navContainer
	%ul
		%li
			= link_to services_pages_path do
				%span
					%i
						core
					%strong
						CONSULTING
		%li
			= link_to training_pages_path do
				%span
					%strong
						TRAINING
					%i
						with us
		%li
			= link_to industries_pages_path do
				%span
					%i
						our
					%strong
						INDUSTRY SECTORS						
		%li
			= link_to customers_pages_path do
				%span
					%i
						our
					%strong
						CUSTOMERS						
		%li
			= link_to company_pages_path do
				%span
					%i
						the
					%strong
						COMPANY
