#top_nav
	#util_search
		#nav_bar_left
			= image_tag("nav_bar_left.png", :border => 0)

		#nav_bar_menu
			- if current_user
				= "Welcome <strong>" + current_user.login + "</strong>"
				&nbsp;&nbsp;|&nbsp;
				= link_to "Admin", new_user_sessions_url, :class => "nav_bar_link"
				&nbsp;|&nbsp; 

			= link_to "About Us", company_url, :class => "nav_bar_link"
			&nbsp;|&nbsp;
			= link_to "Careers", careers_url, :class => "nav_bar_link"
			&nbsp;|&nbsp;
			= link_to "Contact Us", contact_url, :class => "nav_bar_link"

		#nav_bar_right
			= image_tag("nav_bar_right.png", :border => 0)
