#topNav
	#utilSearch
		#navBarLeft

		#navBarMenu
			- if current_user
				= "Welcome"
				%strong
					= current_user.login
				&nbsp;&nbsp;|&nbsp;
				= link_to "Admin", new_user_sessions_url, :class => "navBarLink"
				&nbsp;|&nbsp; 

			= link_to "About Us", company_url, :class => "navBarLink"
			&nbsp;|&nbsp;
			= link_to "Careers", careers_url, :class => "navBarLink"
			/ &nbsp;|&nbsp;
			/ = link_to "Contact Us", contact_index_url, :class => "navBarLink"

		#navBarRight
