#topNav
	#utilSearch
		#navBarLeft
			= image_tag("nav_bar_left.png", :border => 0)

		#navBarMenu
			- if current_user
				= "Welcome"
				%strong
					= current_user.login
				&nbsp;&nbsp;|&nbsp;
				= link_to "Admin", new_user_sessions_url, :class => "navBarLink"
				&nbsp;|&nbsp; 

			= link_to "About Us", company_url, :class => "navBarLink"
			&nbsp;|&nbsp;
			= link_to "Careers", careers_url, :class => "navBarLink"
			&nbsp;|&nbsp;
			= link_to "Contact Us", contact_url, :class => "navBarLink"

		#navBarRight
			= image_tag("nav_bar_right.png", :border => 0)
