<div id="top_nav">
  <div id="util_search">
		<div id="nav_bar_left">
			<%= image_tag("nav_bar_left.png", :border => 0) %>
		</div>
		<div id="nav_bar_menu">
			<%= link_to "About Us", company_url, :class => "nav_bar_link" %>&nbsp;|&nbsp; 
			<%= link_to "Careers", careers_url, :class => "nav_bar_link" %>&nbsp;|&nbsp;
			<%= link_to "Contact Us", contact_url, :class => "nav_bar_link" %>
		</div>
		<div id="nav_bar_right">
			<%= image_tag("nav_bar_right.png", :border => 0) %>
		</div>
  </div>
</div>