%ul
	%li= link_to_with_current_class "Payment Mechanism Modelling & Benchmarking", payment_mechanism_modelling_benchmarking_pages_path
	%li= link_to_with_current_class "Contract Review", contract_review_pages_path
	%li= link_to_with_current_class "Bid Strategy Review", bid_strategy_review_pages_path
	%li= link_to_with_current_class "Capital Works Benchmarking", capital_works_benchmarking_pages_path
	%li= link_to_with_current_class "Risk Reduction", risk_reduction_pages_path
