%ul
	%li= link_to_with_current_class "Risk Modelling & Benchmarking", risk_modelling_benchmarking_path
	%li= link_to_with_current_class "Correlated Risk Models", correlated_risk_models_path
	%li= link_to_with_current_class "Enterprise Risk Management", enterprise_risk_management_path
	%li= link_to_with_current_class "Asset Strategy Impact Assessment", asset_strategy_impact_assessment_path
	%li= link_to_with_current_class "RAMS Modelling", rams_modelling_path
	%li= link_to_with_current_class "Systems Safety Management & Assurance", systems_safety_assurance_path
