%ul
	%li= link_to_with_current_class "Risk Modelling & Benchmarking", risk_modelling_benchmarking_pages_path
	%li= link_to_with_current_class "Correlated Risk Models", correlated_risk_models_pages_path
	%li= link_to_with_current_class "Enterprise Risk Management", enterprise_risk_management_pages_path
	%li= link_to_with_current_class "RAMS Modelling", rams_modelling_pages_path
	%li= link_to_with_current_class "Systems Safety Management & Assurance", systems_safety_assurance_pages_path
