#subNavContainer
	%ul.sf-menu
		%li
			= link_to_with_current_class content_tag(:span, "Executive Coaching"), executive_training_path
			%ul
				%li= link_to content_tag(:span, "Rapport"), rapport_training_path
				%li= link_to content_tag(:span, "Strategies for Success"), strategies_success_training_path
				%li= link_to content_tag(:span, "Negotiation"), negotiation_training_path
				%li= link_to content_tag(:span, "Presentations"), presentations_training_path
				%li= link_to content_tag(:span, "Effective Sales"), effective_sales_training_path

		%li
			= link_to_with_current_class content_tag(:span, "Risk Analysis & Management"), risk_analysis_management_training_path
			%ul
				%li= link_to content_tag(:span, "Risk Analysis"), risk_analysis_training_path
				%li= link_to content_tag(:span, "Risk Management"), risk_management_training_path
				%li= link_to content_tag(:span, "Risk Planning"), risk_planning_training_path

		%li
			= link_to_with_current_class content_tag(:span, "Availability & Asset Modelling"), availability_asset_modelling_training_path
			%ul
				%li= link_to content_tag(:span, "Reliability & Availability Modelling"), reliability_availability_modelling_training_path
				%li= link_to content_tag(:span, "Asset Modelling"), asset_modelling_training_path
				%li= link_to content_tag(:span, "Performance Penalty Modelling"), performance_penalty_modelling_training_path
