#subNavContainer
	%ul.sf-menu
		%li
			= link_to_with_current_class content_tag(:span, "Executive Coaching"), executive_training_pages_path
			%ul
				%li= link_to content_tag(:span, "Rapport"), rapport_training_index_path
				%li= link_to content_tag(:span, "Strategies for Success"), strategies_success_training_index_path
				%li= link_to content_tag(:span, "Negotiation"), negotiation_training_index_path
				%li= link_to content_tag(:span, "Presentations"), presentations_training_index_path
				%li= link_to content_tag(:span, "Effective Sales"), effective_sales_training_index_path

		%li
			= link_to_with_current_class content_tag(:span, "Risk Management & Analysis Training"), risk_training_pages_path
			%ul
				%li= link_to content_tag(:span, "Risk Management Planning"), risk_management_planning_training_index_path
				%li= link_to content_tag(:span, "Risk Register Modelling"), risk_register_modelling_training_index_path
				%li= link_to content_tag(:span, "Risk Correlation Modelling"), risk_correlation_modelling_training_index_path

		%li
			= link_to_with_current_class content_tag(:span, "Availability & Asset Modelling Training"), availability_training_pages_path
			%ul
				%li= link_to content_tag(:span, "Reliability & Availability Modelling"), reliability_availability_modelling_training_index_path
				%li= link_to content_tag(:span, "Asset Modelling"), asset_modelling_training_index_path
				%li= link_to content_tag(:span, "Performance Penalty Modelling"), performance_penalty_modelling_training_index_path
