<h1>Listing leaderships</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Email</th>
		<th>Position</th>
    <th>Content 1</th>
    <th>Content 2</th>
    <th>Avatar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leaderships.each do |leadership| %>
  <tr>
    <td><%= leadership.name %></td>
    <td><%= leadership.title %></td>
    <td><%= leadership.email %></td>
    <td><%= leadership.postion %></td>
    <td><%= RedCloth.new(leadership.content_1).to_html %></td>
    <td><%#= image_tag leadership.avatar.url(:small) %><%= RedCloth.new(leadership.content_2).to_html %></td>
    <td><%= image_tag leadership.avatar.url %></td>
    <td><%= link_to 'Show', admin_leadership_path(leadership) %></td>
    <td><%= link_to 'Edit', edit_admin_leadership_path(leadership) %></td>
    <td><%= link_to 'Destroy', [:admin, leadership], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New leadership', new_admin_leadership_path %>
