- if current_user
	%div{:float => :right}
		= "Welcome"
		%strong
			== #{current_user.login}!
		| 
		= link_to "pages", admin_pages_url
		|
		= link_to "courses", admin_courses_url
		|
		= link_to "leadership", admin_leaderships_url
		| 
		= link_to "account", account_url
		| 
		= link_to "404s", admin_four_oh_fours_url
		| 
		= link_to "home", root_url
		|
		= link_to "logout", logout_url
