%h1 Listing courses

%table
	%tr
		%th Name
		%th Permalink
		%th Tagline
		%th Summary
		%th Duration
		%th Objectives
		%th Audience
		%th Instructors
		%th Outline
		%th Testimonials
		%th 
		%th 
		%th 

	- @courses.each do |course|
		%tr
			%td= course.name
			%td= course.permalink
			%td= course.tagline
			%td= course.summary
			%td= course.duration
			%td= course.objectives
			%td= course.audience
			%td= course.instructors
			%td= course.outline
			%td= course.testimonials
			%td= link_to 'Show', admin_course_path(course)
			%td= link_to 'Edit', edit_admin_course_path(course)
			%td= link_to 'Destroy', [:admin, course], :confirm => 'Are you sure?', :method => :delete

%br/

= link_to 'New Course', new_admin_course_path
