%h1 Listing courses

%table
	%tr
		%th Name
		%th Permalink
		%th Content
		%th 
		%th 
		%th 

	- @courses.each do |course|
		%tr
			%td= course.name
			%td= course.permalink
			%td= course.content
			%td= link_to 'Show', admin_course_path(course)
			%td= link_to 'Edit', edit_admin_course_path(course)
			%td= link_to 'Destroy', [:admin, course], :confirm => 'Are you sure?', :method => :delete

%br/

= link_to 'New Course', new_admin_course_path
