!!! Strict
%html
	%head
		%title= @page_title || "Asset Performance Management Ltd."
		= stylesheet_link_tag 'application', 'superfish'
		-#= stylesheet_link_tag 'application', 'superfish', :cache => true
		<!--[if IE]>
		= javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js'
		<![endif]-->
		= javascript_include_tag	'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js', 'http://dev.jquery.com/view/trunk/plugins/validate/jquery.validate.js'
		= javascript_include_tag	'jquery.metadata', 'hoverIntent', 'superfish', 'supersubs'
		-#= javascript_include_tag	'jquery.metadata', 'hoverIntent', 'superfish', 'supersubs', :cache => true
		
		- if controller.controller_name == 'contact'
			:css
				form.contact_form label.error { display: none; }	
		
	%body
		#header
			#headerContainer
				-# cache 'logo' do
				= render 'shared/logo'
				= render 'shared/contact'
				= render 'shared/navigation/mini'
				= render 'shared/navigation/main'

		#main
			- if controller.controller_name == 'welcome'
				= yield
			- elsif [ 'services', 'training', 'industries', 'customers', 'company' ].include? action_name
				= render 'shared/content/category'
			- elsif [ 'legal', 'privacy', 'site_map' ].include? action_name
				= render 'shared/content/information'
			- elsif controller.controller_name == 'courses'
				= render 'shared/content/course'
			- elsif controller.controller_name == 'onsites'
				= render 'shared/content/page/onsite'
			- elsif controller.controller_name == 'request_classes'
				= render 'shared/content/page/request_class'
			- elsif controller.controller_name == 'contact'
				= render 'shared/content/page/contact'
			- elsif controller.controller_name == 'leaderships'
				= render 'shared/content/page/leadership'
			- elsif controller.controller_name == 'four_oh_fours'
				= render 'shared/content/page/four_oh_fours'
			- else
				= render 'shared/content/page'

		#footer
			#footerContainer
				-# cache 'footer' do
				= render 'shared/footer'
				
		= render 'shared/monitor/google_analytics'
		= render 'shared/javascript/superfish'
		= render 'shared/javascript/metadata'
		
		- if controller.controller_name == 'contact'
			= render 'shared/javascript/validate_contact'
			
		- if controller.controller_name == 'onsites'
			= render 'shared/javascript/validate_onsite'

		- if controller.controller_name == 'request_classes'
			= render 'shared/javascript/validate_request_class'
